


<table class='table' *ngIf='employees && employees.length' style="width:100%;text-align:left; border: 3px solid grey;padding: 12px 12px 12px 12px">
<thead>
<tr>
      <th> Firstname</th>
      <th> Lastname</th>
      <th> Email</th>
      <th> Address</th>
      <th> Username</th>
      <th> Password</th>
      <th> Gender</th>
      <th> Qualification</th>
      <th> Experience</th>
      <th> LangKnown</th>
</tr>
</thead>
<br>
      <tbody>
      <tr *ngFor='let emp of employees'>
          <td>{{ emp.firstname }}</td>
          <td>{{ emp.lastname }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.address }}</td>
          <td>{{ emp.username }}</td>
          <td>{{ emp.password }}</td>
          <td>{{ emp.gender }}</td>
          <td>{{ emp.qualification }}</td>
          <td>{{ emp.experience }}</td>
          <td>{{ emp.langKnown }}</td>
          <td><button (click)="editEmp(emp.firstname)">Edit</button></td>
          <td><button (click)="deleteEmp(emp.firstname)">Delete</button></td>
      </tr>
      </tbody>
      
            </table>
            <br><br>
            <button style="margin-left:20px;background-color:rgba(0,0,0,0);font-size:16px" [routerLink]="['/add-employee']">Add new employee</button>
